<ion-view title="Home" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content class="pages" id="option">
        <div id="header">
            <img src="img/Cover.png" alt="">
        </div>
        <div class="container">
            <div class="padding">
                <center id="icon-option" ng-show="status_t">
                    <a href="#/app/absen-cabang" id="icon-left" class="button button-energized">
                        <img src="img/absensi.png" alt="">
                        <p>ABSENSI</p>
                    </a>
                    <a href="#/app/jurnal-cabang" id="icon-right" class="button button-energized">
                        <img src="img/Notes-icon.png" alt="">
                        <p>JURNAL</p>
                    </a>
    
                </center>

                <center ng-show="status_h">
                    <a href="#/app/aprovals" class="button button-large button-energized">
                        <i class="ion-checkmark"></i>
                        APPROVED
                    </a>    
                </center>

                <center ng-show="status_ho">
                    <a href="#/app/aproval" class="button button-large button-energized">
                        <i class="ion-checkmark"></i>
                        APPROVED
                    </a>    
                </center>

            </div>

            <div ng-init="info()"></div>

        </div>
    </ion-content>
</ion-view>