<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- <ion-header-bar class="bar-energized">
      <h1 class="title">School's Quadz</h1>
    </ion-header-bar> -->
    <style>
      .menu ion-item{
        border-width: 0px !important;
      }
      .menu h3{
        font-size: 16px;
        color: #616161;
      }
      .menu span{
        margin-right: 7px;
      }
    </style>
    <ion-content class="menu">
      <ion-list ng-controller="homeCtrl">
        <!-- <ion-item class="pages" style="min-height: 200px">
          <img src="img/Cover.png" alt="" style="width: 100%">
          <center>
            <br><br>
            <center>
              <h2 style="font-size: 24px; color: #fff;">Trans Surabaya</h2>
            </center>
          </center>
        </ion-item> -->
        <ion-item style="padding: 0px 0px; background: #bd6969;">
          <img src="img/Cover.png" alt="" style="width: 100%; height: auto;">
          <!-- <center>
            <h2 style="font-size: 24px; color: #fff; position: absolute; top:185px; left: 23%;">Terang Surabaya</h2>
          </center>
          <br><br> -->
        </ion-item>
        <ion-item menu-close href="#/app/home">
          <h3>
            <span class="ion-ios-home"></span>
            Home
          </h3>
        </ion-item>
        <ion-item menu-close href="#/app/absen-cabang" ng-show="status_t">
          <h3>
            <span class="ion-ios-list"></span>
            Absensi
          </h3>
        </ion-item>
        <ion-item menu-close href="#/app/jurnal-cabang" ng-show="status_t">
          <h3>
            <span class="ion-edit"></span>
            Jurnal
          </h3>
        </ion-item>
        <!-- <ion-item menu-close href="#/app/aproval-absen">
          <h3>
            <span class="ion-ios-list"></span>
            Aproval Absensi
          </h3>
        </ion-item>
        <ion-item menu-close href="#/app/aproval-jurnal">
          <h3>
            <span class="ion-edit"></span>
            Aproval Jurnal
          </h3>
        </ion-item> -->
        <ion-item menu-close href="#/app/aprovals" ng-show="status_h">
          <h3>
            <span class="ion-checkmark"></span>
            Approved
          </h3>
        </ion-item>

        <ion-item menu-close href="#/app/aproval" ng-show="status_ho">
          <h3>
            <span class="ion-checkmark"></span>
            Approved
          </h3>
        </ion-item>



        <ion-item menu-close ng-controller="authCtrl" ng-click="logout()">
          <h3>
            <span class="ion-log-out"></span>
            Logout
          </h3>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
