<ion-view title="DAFTAR SEKOLAH">
    <ion-content>
      	<ion-list>
      		<ion-item href="#/app/absen-kelas/{{cb.id}}" ng-repeat="cb in cabang | filter : { id : cabangId.cabang_id}">
      	   		{{cb.name}}
      		</ion-item>
      	</ion-list>	
    </ion-content>
</ion-view>
