<ion-view title="DAFTAR SEKOLAH">
    <ion-content>
      	<ion-list>
      		<ion-item href="#/app/jurnal-kelas/{{cb.id}}" ng-click="" ng-repeat="cb in cabang | filter : { id : cabangId.cabang_id}">
      	   		{{cb.name}}
      		</ion-item>
      	</ion-list>

      	<!-- <div id="header">
      	    <img src="img/school.jpg" alt="">
      	</div>

      	<div class="padding">
      		<label class="item item-input item-select">
      		    <div class="input-label">
      		      Pilih Cabang Sekolah :
      		    </div>
      		    <select ng-model="class_id">
      		      <option value="{{cb.id}}" ng-repeat="cb in cabang">{{ cb.name }}</option>
      		    </select>
      		</label>
      		<a href="#/app/jurnal-kelas/" class="button button-block button-calm ion-ios-checkmark-outline"> Ok, Next's</a>
      	</div> -->

    </ion-content>
</ion-view>