<ion-view title="DAFTAR SISWA">
  <ion-content class="pages">

    <form>
      
      <ul class="list">

        <li class="item item-toggle" ng-repeat="st in siswa">
          <p>
            {{ st.student_nam}}
            <br>
            {{ st.student_id}}
          </p>
          <label class="toggle toggle-energized">
            <input type="checkbox" ng-true-value="'P'" ng-false-value="'A'" ng-model="attendance['action_' + st.roll_number]" ng-value="'A'">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

      </ul>

      <center>
        <button type="submit" ng-click="saveAbsen()" class="button button-positive ion-ios-checkmark-outline" ng-disabled="check"> Save</button>
        <button type="reset" class="button button-assertive ion-ios-close-outline"> Cancel</button>
      </center>

    </form>
      <br>
      <center>
        <a href="#/app/home" style="color: #fff;">Back to Home</a>
      </center>

  </ion-content>
</ion-view>