<ion-view hide-nav-bar="true">
  <ion-content id="login-pages">
      <br><br><br>
      <div class="padding">
        <center>
          <i class="icon-login">
            <!-- <img src="img/cadenas.png"> -->
            <img src="img/login.png">
          </i>
          <br>
            <h3 style="color: #fff;">Terang Surabaya</h3>
          <br>
        </center>
        <form>
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="email" placeholder="Your Email" ng-model="auth.username" ng-required>
          </label>
          <br>
          <label class="item item-input">
            <i class="icon ion-key placeholder-icon"></i>
            <input type="password" placeholder="Your Password" ng-model="auth.password" ng-required>
          </label>
          <br>
          <label>
            <center style="padding: 0% 25% 0% 25%;">
              <button type="submit" class="button ion-log-in button-energized button-block" ng-click="login(auth)">
                Login
              </button>
              <!-- <button class="button button-assertive ion-ios-close-outline">
                Cancel
              </button> -->
            </center>
          </label>
        </form>
      </div>
  </ion-content>
</ion-view>