<ion-view view-title="EDIT JURNAL">
  <ion-content>
    <style>
            #jurnal label{
              border-radius: 7px;
            }
           .item textarea{
            height: 80px;
        } 
    </style>
    <div class="padding" id="jurnal">
    	<form ng-submit="updatejurnal(jurnalDetail)">
    		
    		<label class="item item-input">
    		  <textarea name="task" ng-model="jurnalDetail.task">{{ jurnalDetail.task }}</textarea>
    		</label>
    		<br>
    		<label class="item item-input">
    		  <textarea name="situasi_kelas" ng-model="jurnalDetail.situasi_kelas">{{ jurnalDetail.situasi_kelas }}</textarea>
    		</label>
    		<br>
    		<label class="item item-input">
    		  <textarea name="catatan" ng-model="jurnalDetail.catatan">{{ jurnalDetail.catatan }}</textarea>
    		</label>
            <input type="hidden" name="id" ng-model="jurnalDetail.id">
            <input type="hidden" name="user" ng-model="jurnalDetail.user">
            <input type="hidden" name="class_id" ng-model="jurnalDetail.class_id">
            <!-- <input type="hidden" name="task" ng-model="jurnalDetail.task">
            <input type="hidden" name="situasi_kelas" ng-model="jurnalDetail.situasi_kelas">
            <input type="hidden" name="catatan" ng-model="jurnalDetail.catatan"> -->
            <br>

    		<label>
    			<center>
    				
    				<button type="submit" class="button button-calm ion-ios-checkmark-outline"> Update</button>
    				<a href="#/app/jurnals" class="button button-energized ion-ios-close-outline"> Cancel !</a>

    			</center>
    		</label>

    	</form>
    </div>

  </ion-content>
</ion-view>