<ion-view title="JURNAL HOME">
	<ion-content>

		<div class="list">
			<div class="item item-button-right" ng-repeat="jurnal in jurnals">
			       {{ jurnal.task }} - {{ jurnal.date }}
			  	<div class="buttons">
			      	<a href="#/app/edit-jurnals/{{ jurnal.id }}" class="button button-calm">
			        	<i class="icon ion-edit"></i>
			      	</a>
			     
			      	<a class="button button-assertive" ng-click="hapusJurnal(jurnal.id)">
			        	<i class="icon ion-ios-trash"></i>
			      	</a>
			 	</div>
			</div>
		</div>
		

	</ion-content>
</ion-view>