<ion-view title="JURNAL KELAS">
    <ion-content id="jurnal">
        <ion-list>
          <style>
            #jurnal label{
              border-radius: 7px;
              padding: 7px 7px !important;
            }
           .item textarea{
            height: 80px;
           } 
          </style>
          <div id="jurnal" class="padding">

            <form>

              <label class="item item-input">
                <textarea name="task" ng-model="jurnalObj.task" placeholder="Apa yang dilakukan hari ini...?" required ></textarea>
              </label>
              <br>
              <label class="item item-input">
                <textarea name="situasi_kelas" ng-model="jurnalObj.situasi_kelas" placeholder="Jelaskan perkembangan dan kesulitan (siswa dan guru) ..." required></textarea>
              </label>
              <br>
              <label class="item item-input">
                <textarea name="catatan" ng-model="jurnalObj.catatan" placeholder="Catatan tambahan..." required></textarea>
              </label>
              <br>
              <!-- <label> -->
                <center>
                  <button type="submit" class="button button-calm ion-ios-checkmark-outline" ng-click="simpanjurnal('jurnalObj')"> Save</button>
                  <button type="reset" class="button button-assertive ion-ios-close-outline"> Cancel</button>
                </center>
              <!-- </label> -->

            </form>
                
                <br>
                <center>
                  <a href="#/app/home" style="color: #fff;">Back to Home</a>
                </center>

          </div> 

        </ion-list>
    </ion-content>
</ion-view>