<ion-view title="APPROVAL ABSENSI" hide-back-button="true">
	
	<ion-content class="pages">

		<ion-list>

			<ion-item href="#/app/aproval-absen-detail" class="item">Kelas 1</ion-item>
			<ion-item href="#/app/aproval-absen-detail" class="item">Kelas 2</ion-item>
			<ion-item href="#/app/aproval-absen-detail" class="item">Kelas 3</ion-item>

		</ion-list>

		<br>

		<!-- <center>
			<button class="button button-positive">Approve</button>
			<button class="button button-assertive">Cancel</button>
		</center> -->

	        
	</ion-content>

</ion-view>