<ion-view title="APPROVED">
  <ion-content class="pages">

    <form>
      
      <ul class="list">

        <li class="item" ng-repeat="acc in aproval | filter : {cabang_id : cabangId.cabang_id}">
          <span>{{ acc.user}}<br>{{ acc.classname }}</span>
          <p>{{ acc.tanggal }}</p>
          <div class="aprov">
            <input type="radio" name="a{{$index}}" ng-click="mark(acc.id, aprove)">Accept
            <input type="radio" name="a{{$index}}" ng-click="mark(acc.id, block)">Decline
          </div>
        </li>

      </ul>

      <center>
        <button type="submit" ng-click="update()" class="button button-positive ion-checkmark"> Aprove</button>
        <button type="reset"  ng-click="clear()" class="button button-assertive ion-close"> Cancel</button>
      </center>

      <br>
      <center>
        <a href="#/app/home" style="color: #fff;">Back to Home</a>
      </center>

    </form>

  </ion-content>
</ion-view>