<ion-view hide-back-button="true">
	
	<ion-content class="pages">
	
		<ion-list>

			<ion-item href="#/app/aproval-jurnal-detail" class="item">Kelas 4</ion-item>
			<ion-item href="#/app/aproval-jurnal-detail" class="item">Kelas </ion-item>
			<ion-item href="#/app/aproval-jurnal-detail" class="item">Kelas </ion-item>

		</ion-list>

		<br>

		<center>
			<button class="button button-positive">Approve</button>
			<button class="button button-assertive">Cancel</button>
		</center>

	        
	</ion-content>

</ion-view>

<!-- centang agreement -->