<ion-view>
	
	<ion-content class="pages">
	
		<ul class="list">

	        <li class="item item-toggle">
	          <p>
	            Dani Setya
	            <br>
	            12324566
	          </p>
	           <label class="toggle toggle-energized">
	             <input type="checkbox" checked="true">
	             <div class="track">
	               <div class="handle"></div>
	             </div>
	           </label>
	        </li>
	        <li class="item item-toggle">
	          <p>
	            Ahmad Harun
	            <br>
	            12324566
	          </p>
	           <label class="toggle toggle-energized">
	             <input type="checkbox" checked="true">
	             <div class="track">
	               <div class="handle"></div>
	             </div>
	           </label>
	        </li>
	        <li class="item item-toggle">
	          <p>
	            Haydar Hanif
	            <br>
	            12324566
	          </p>
	           <label class="toggle toggle-energized">
	             <input type="checkbox" checked="true">
	             <div class="track">
	               <div class="handle"></div>
	             </div>
	           </label>
	        </li>
	        <li class="item item-toggle">
	          <p>
	            Ahmad Syafii
	            <br>
	            12324566
	          </p>
	           <label class="toggle toggle-energized">
	             <input type="checkbox" checked="true">
	             <div class="track">
	               <div class="handle"></div>
	             </div>
	           </label>
	        </li>

	    </ul>

		<br>

		<center>
			<button class="button button-positive">Approve</button>
			<button class="button button-assertive">Cancel</button>
		</center>

	        
	</ion-content>

</ion-view>