<div class="padding" ng-controller="homeCtrl">
    
    <p style="margin-top: -15px;">
		<center>
			<p>{{subject}}</p>
		</center>

		<br>

        <p>{{notice}}</p>
    </p>

</div>

<!-- <div class="padding"> -->
    <label>
        <input type="checkbox" ng-model="checked.notice" style="margin: 0px -107px 0px -45%">Saya telah membaca informasi ini !
    </label>
<!-- </div> -->