<ion-view title="DAFTAR KELAS">
    <ion-content>
      	<ion-list>
      	  <ion-item href="#/app/absensi/{{kl.id}}" ng-repeat="kl in kelas" ng-click="getText($event);">{{kl.class_title}}</ion-item>
      	</ion-list>
    </ion-content>
</ion-view>