ion-content, .pages{
	background: #fdd835;
	color: #fff
}
a:hover{
	text-decoration: none !important;
}

#login-pages label{
  border-radius: 7px ;
}

#login-pages input{
  text-align: center;
}

#header img{
	width: 100%;
  height: auto;
}

/* option */
#icon-option{
	padding-top: 18px;
}

#icon-option p{
	margin-top: -16px;
	margin-bottom: -4px;
}

#icon-left{
	border-radius: 7px;
	padding-top: 7px;
	margin-right: 12px;
}

#icon-right{
	border-radius: 7px;
	padding-top: 7px;
	margin-left: 12px;
}


/* the track appearance when the toggle is "off" */
.toggle .track {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: background-color, border;
  transition-property: background-color, border;
  display: inline-block;
  box-sizing: border-box;
  width: 51px;
  height: 31px;
  border: solid 2px #ef473a;
  border-radius: 20px;
  background-color: #ef473a;
  content: ' ';
  cursor: pointer;
  pointer-events: none; }
/* End */


.popup{
  background-color: #ffffff !important:;
}

.alertNullData{
  margin-top: 0px;
  margin-bottom: 0px;
}

.aprov{
  position: absolute;
  right: 10px;
  top: 20px;
}

.aprov input[type='radio']{
  color: #000;
}
